[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
	branch = develop
    ignore = all

[submodule "lib/pybind"]
	path = lib/pybind
	url = https://github.com/MineFartS/pybind
    ignore = all

